[class^="bi-"]::before,
[class*=" bi-"]::before {
  line-height: 1.2;
}
.form-check-label {
  cursor: pointer;
  &:hover {
    background: #f0eeef;
  }
}

.row {
  align-items: flex-start;
}
.card {
  margin-bottom: 1rem;
}

.h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
